@model RubyAdmin.Models.Property
@{
    ViewBag.Title = "Добавление недвижимости";
}
<form asp-action="CreateProperty" asp-controller="home">
    <div class="form-group">
        <label asp-for="NameProperty" class="control-label">Название</label>
        <input type="text" asp-for="NameProperty" class="form-control" required maxlength="50" />
        <span asp-validation-for="NameProperty" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label asp-for="Image" class="control-label">Изображение</label>
    <input type="url" asp-for="Image" class="form-control" required />
    <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Location" class="control-label">Местоположение</label>
        <input type="text" asp-for="Location" class="form-control" required />
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Square" class="control-label">Площадь</label>
        <input type="number" asp-for="Square" class="form-control" required min="0" />
        <span asp-validation-for="Square" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BedroomCount" class="control-label">Спальни</label>
        <input type="number" asp-for="BedroomCount" class="form-control" required min="0" />
        <span asp-validation-for="BedroomCount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="KitchenCount" class="control-label">Кухни</label>
        <input type="number" asp-for="KitchenCount" class="form-control" required min="0"/>
        <span asp-validation-for="KitchenCount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BathroomCount" class="control-label">Ванные</label>
        <input type="number" asp-for="BathroomCount" class="form-control" required min="0"/>
        <span asp-validation-for="BathroomCount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label">Цена</label>
        <input type="number" asp-for="Price" class="form-control" required min="0"/>
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TypePropertyId" class="control-label">Тип недвижимости</label>
        <input type="number" asp-for="TypePropertyId" class="form-control" required min="0"/>
        <span asp-validation-for="TypePropertyId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Добавить" class="btn btn-default" />
    </div>
</form>

<div>
    <a asp-action="IndexProperty">Назад</a>
</div>
