@model IEnumerable<RubyAdmin.Models.User>
@{
    ViewBag.Title = "Все пользователи";
}

<h2>Все пользователи</h2>
<a asp-action="IndexProperty" class="btn btn-sm btn-primary">Недвижимости</a>
<a asp-action="IndexTypeProperty" class="btn btn-sm btn-primary">Вид недвижимости</a>
<a asp-action="IndexUser" class="btn btn-sm btn-primary">Пользователи</a>
<a asp-action="IndexUserCard" class="btn btn-sm btn-primary">Карты пользователей</a>
<a asp-action="IndexEmployee" class="btn btn-sm btn-primary">Сотрудники</a>
<a asp-action="IndexCurrentPosition" class="btn btn-sm btn-primary">Занимающие должности</a>
<a asp-action="IndexStructureOfUserProperty" class="btn btn-sm btn-primary">Составы недвижимостей</a>
<a asp-action="IndexStructureOfEmployee" class="btn btn-sm btn-primary">Составы сотрудников</a>


<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.LoginUser</td>
            <td>@item.PasswordUser</td>
            <td>
                <a asp-action="CreateUser" asp-controller="Home">Добавить</a>
                <a asp-action="EditUser" asp-controller="Home" asp-route-id="@item.IdUser">Изменить</a> |
                <a asp-action="DeleteUser" asp-controller="Home" asp-route-id="@item.IdUser">Удалить</a>
            </td>
        </tr>
    }
</table>
